@model Hotel_management.Models.HotelFeatureDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>HotelFeatureDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="form-group">
                <label asp-for="HotelFeatureId" class="control-label">HotelFeature</label>
               <select class="form-control" asp-for="HotelFeatureId">
            @foreach (HotelFeature feature in ViewBag.Features)
            {
                <option value="@feature.Id">Otel - @feature.Hotel.Name/Xüsusiyyət - @feature.Name</option>
                
            }
        </select>
        
       
                <span class="alert-danger" asp-validation-for="HotelFeatureId"></span>

            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

