    @model Child
        @using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;

@{
    Layout = null;
  

}

@using Hotel_management.Extensions;

@using (Html.BeginCollectionItem("Childs"))
{
    <div id="removeAddMoreChild">

<li style="border:none">
    
 <select asp-for="Treatment">
     <option value="true">
         @localizer["3 meals a day and treatment"]
       

     </option>
     <option value="false">
         @localizer["3 meals a day"]
     </option>
 </select>
   

 @localizer["Age"]
 <select class="0-100" min="0" max="100" asp-for="Age">


     </select>
       <button style="
    margin: 0 8px;
    width: 25px;
    height: 25px;
    background: teal;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
padding:7px;
    cursor: pointer;" class="removeChild btn">-</button>
   </li> 
    </div>

   }

   <script>
    $(".removeChild").click(function () {
        $(this).parents("#removeAddMoreChild").remove();
    });
</script>
<script>
    $(function() {
  var $select = $(".0-100");
  for (i = 0; i <= 100; i++) {
    $select.append($('<option></option>').val(i).html(i))
  }
});
</script>
