    @model Child
        @using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;

@{
    Layout = null;
  

}

@using Hotel_management.Extensions;

@using (Html.BeginCollectionItem("Childs"))
{
    <div id="removeAddMoreChild">

<li style="border:none">
    
 <select asp-for="Treatment">
     <option value="true">
         @localizer["3 meals a day and treatment"]
         <p>(Only for Chenot)</p>

     </option>
     <option value="false">
         @localizer["3 meals a day"]
     </option>
 </select>
   

    <select  asp-for="Age">
 
       
       <option value="0">0</option>
       <option value="1">1</option>
    <option value="2">2</option>
       <option value="3">3</option>
      <option value="4">4</option>
   <option value="5">5</option>
     <option value="6">6</option>
   <option value="7">7</option>
       <option value="8">8</option>
       <option value="9">9</option>
       <option value="10">10</option>
       <option value="11">11</option>
       <option value="12">12</option>
       <option value="13">13</option>
       <option value="14">14</option>
       <option value="15">15</option>
       <option value="16">16</option>
       <option value="17">17</option>
     </select>
       <button style="
    margin: 0 8px;
    width: 25px;
    height: 25px;
    background: teal;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
padding:7px;
    cursor: pointer;" class="removeChild btn">-</button>
   </li> 
    </div>

   }

   <script>
    $(".removeChild").click(function () {
        $(this).parents("#removeAddMoreChild").remove();
    });
</script>