@model ForgetPasswordVM
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> localizer;
@using System.Globalization;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

    

<div class="container">
        <div class="forms-container">
          <div class="signin-signup">
            <form  method="post" class="sign-in-form">
                 
              <h2 class="title">@localizer["A link will be sent to your email to change your password"].</h2>
              
             <div class="input-field">
                                <i class="fas fa-envelope"></i>

                 <input asp-for="Email" class="form-control form-control-user" placeholder="@localizer["Email"]">
                                    <span asp-validation-for="Email" class="text-danger"></span>
              </div>
              
              <button type="submit"  class="btn solid">@localizer["Reset"]</button>
             
            </form>
         
          </div>
        </div>
    
          
        </div>
      </div>

